body {
    margin: 0;
}

.ast-container, .ast-container-fluid {
    padding: 0;
}

/*
@media (min-width: 922px) {
    .ast-container {
        max-width: 1600px;
    }
}
*/ 

/* Counter */
.elementor-counter {
    display: flex;
}

.elementor-counter .elementor-counter-number-wrapper {
    padding: 9px 0;
}

.elementor-counter .elementor-counter-title {
    line-height: inherit;
    margin-left: 25px;
    text-align: left;
}

/* Testimonial */
.elementor-testimonial__content {
    min-height: 140px;
}

/* Peoducts */
/*.elementor-widget-woocommerce-products ul.products li.ast-article-single.product.type-product {
    display: flex !important;
}

.elementor-widget-woocommerce-products .astra-shop-thumbnail-wrap {
    object-fit: contain;
    align-self: flex-start;
    width: 30%;
    height: auto;
    padding: 10px 10px 0 10px;
}

.elementor-widget-woocommerce-products .astra-shop-thumbnail-wrap a img {
    margin: 0 !important;
}

.elementor-widget-woocommerce-products .astra-shop-summary-wrap {
    flex: 1 1 auto;
    padding: 10px 0 0 10px;
} */
